@import 'src/stylesheets/modules/inputs-mixin';

@include inputs {
    line-height: 3rem;
    height: 3rem;
    padding: 0 1.5rem;
    outline: none;
    box-sizing: border-box;
    border: {
        style: solid;
        width: 0.0625rem;
        color: #DDD;
        radius: 1.5rem;
    }

    &::placeholder {
        color: #AAA;
    }

    &[type="search"] {
        padding-left: 2.75rem;
        background: {
            image: url('/static/svg/search.svg');
            repeat: no-repeat;
            size: 1.25rem;
            position: 1rem center;
        }
    }
}

input[type="checkbox"] {
    margin-right: 0.75rem;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}
