@import 'src/stylesheets/modules/colors';

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border-bottom: 0.0625rem solid #F2F2F2;
    font-weight: 300;
    padding: 1.5rem 0;
}

th {
    border-color: $color-accent;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #546E7A;
    padding: 1rem 0;
}
