<section>
    <ul class="toolbar">
        <li class="toolbar__item toolbar__item--left"><a v-link="{ path: '/app/articles' }"><img src="/static/svg/arrow-left.svg" alt="Go back" class="toolbar__item__icon"></a></li>
        <li class="toolbar__title"><input type="text" v-model="formData.title[lang]" placeholder="Article title"></li>
        <li class="toolbar__item" v-if="!formData.draft"><a href="#" @click.prevent="unPublish" class="button">Un-publish</a></li>
        <li class="toolbar__item"><a href="#" @click.prevent="save" class="button" :class="{ 'button--key': !formData.draft }">Save</a></li>
        <li class="toolbar__item" v-if="formData.draft"><a href="#" @click.prevent="publish" class="button button--key">Publish</a></li>
        <li class="toolbar__item"><a href="#" @click.prevent="showCategories"><img src="/static/svg/settings.svg" alt="Settings" class="toolbar__item__icon"></a></li>
    </ul>
    <markdown-editor :model.sync="formData.content[lang]" :title.sync="formData.title[lang]"></markdown-editor>
    <categories-editor categories-for="article" :show.sync="displayCategories" :selected.sync="formData.categories"></categories-editor>
</section>
